@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #0575e6;
}
body {
  font-family: "Cairo", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul li a.nav-link {
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  padding: 0 24px;
  transition: all 0.5s ease;
}
nav ul li a.nav-link:hover,
nav ul li a.nav-link.active {
  color: var(--main-color);
  background-color: #fff;
}
/* noTransparent */
nav.noTransparent {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
nav.noTransparent ul li a.nav-link {
  color: var(--main-color);
}
nav.noTransparent ul li a.nav-link:hover,
nav.noTransparent ul li a.nav-link.active {
  color: #fff;
  background-color: var(--main-color);
}
header {
  background-image: url(../images/bg-1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
header .overlay {
  background-color: rgba(5, 117, 230, 0.9);
  color: #fff;
  padding: 40px 60px;
  transform: translateY(20%);
}
header .overlay img {
  border: 5px solid #73ade7;
  margin-bottom: 20px;
  border-radius: 50%;
}
header .overlay h1 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #f9f9f9;
}
header .overlay h1 span {
  font-size: 24px;
}
header .overlay ul {
  margin-bottom: 40px;
}
header .overlay ul li a {
  margin-bottom: 24px;
  color: #021b79;
}
header .overlay h2 {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
header .overlay p {
  font-size: 15px;
  line-height: 30px;
  color: #89c4ff;
  margin-bottom: 40px;
}
header .overlay a.cv {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 40px;
  text-decoration: none;
}

section.licence {
  padding: 200px 0 80px;
  background-color: #f6fbff;
}
section.licence .licence-title {
  padding-bottom: 30px;
  position: relative;
}
section.licence .licence-title h2 {
  font-size: 30px;
  line-height: 50px;
  color: #196dd1;
}
section.licence .licence-title h2::after {
  content: "";
  height: 2px;
  width: 100px;
  background-color: #196dd1;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}
section.licence .licence-title h2 i {
  display: block;
}

section.licence ul.timeline {
  padding-top: 40px;
  padding-right: 0;
  position: relative;
}
section.licence ul.timeline::before {
  content: "";
  width: 2px;
  /* ??? */
  height: 175px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: #196dd1;
}
section.licence ul.timeline .timebox {
  background-color: #fff;
  border: 2px solid #f4f4f5;
  padding: 20px 25px;
  width: 48%;
  position: relative;
}
section.licence ul.timeline .timebox h4 {
  font-size: 18px;
  line-height: 30px;
  color: #555;
}
section.licence ul.timeline .timebox h4 span {
  color: #fff;
  background-color: #0575e6;
  padding: 0 5px;
  margin-left: 25px;
}
section.licence ul.timeline .timebox p {
  font-size: 15px;
  line-height: 22px;
  color: #b1b1b1;
}
section.licence ul.timeline .timebox::after {
  content: "";
  width: 20px;
  height: 20px;
  color: #fff;
  position: absolute;
  border-left: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  top: 5%;
  left: -10px;
  transform: rotate(45deg);
}
section.licence ul.timeline li {
  position: relative;
  margin-bottom: -50px;
}
section.licence ul.timeline li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #196dd1;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}
section.licence ul.timeline li:nth-child(even) {
  direction: ltr;
  text-align: left;
}
section.licence ul.timeline li:nth-child(even) .timebox h4 span {
  float: left;
  margin-left: 0;
  margin-right: 25px;
}

section.licence ul.timeline li:nth-child(even) .timebox::after {
  left: auto;
  top: 5%;
  right: -10px;
  transform: rotate(-135deg);
}
section.statistics {
  background-image: url(../images/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section.statistics .overlay {
  background-color: rgba(5, 117, 230, 0.7);
  padding: 150px;
}
section.statistics .overlay .stat p {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-top: 30px;
  font-family: sans-serif;
}
section.statistics .overlay .stat canvas {
  background-color: #eef6ff;
  padding: 10px;
  border-radius: 50%;
}
section.statistics .overlay .stat .circle {
  position: relative;
}
section.statistics .overlay .stat .circle span {
  position: absolute;
  color: var(--main-color);
  font-size: 24px;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

/* Start Gallery */
section.gallery {
  padding: 75px 0 90px;
}
section.gallery .gallery-title {
  margin-bottom: 35px;
}
section.gallery .gallery-title h2 {
  font-size: 30px;
  line-height: 50px;
  color: var(--main-color);
}
section.gallery label {
  font-size: 18px;
  line-height: 35px;
  color: #8f9899;
  padding: 10px 30px;
  background-color: #fff;
  border: 2px solid #e4eeee;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 7px 40px;
  transition: all 0.5s ease;
}
section.gallery label:hover {
  color: #fff;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
}
section.gallery .items .item {
  margin-bottom: 25px;
  transition: all 0.5s ease;
}
input#item-type-all:checked ~ label.label-type-all,
input#item-type-1:checked ~ label.label-type-1,
input#item-type-2:checked ~ label.label-type-2,
input#item-type-3:checked ~ label.label-type-3 {
  color: #fff;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}
input#item-type-all:checked ~ .items .item,
input#item-type-1:checked ~ .items .item-type-1,
input#item-type-2:checked ~ .items .item-type-2,
input#item-type-3:checked ~ .items .item-type-3 {
  transform: scale(1.08);
  opacity: 1;
}
input#item-type-1:checked ~ .items .item:not(.item-type-1),
input#item-type-2:checked ~ .items .item:not(.item-type-2),
input#item-type-3:checked ~ .items .item:not(.item-type-3) {
  transform: scale(0.8);
  opacity: 0.5;
}
/* End Gallery */

/* Start Contact */
.contact {
  background-image: url(../images/bg-3.jpg);
  background-size: cover;
  background-position: center;
}
.contact .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 70px;
}
.contact .overlay .testimonials-title h3 {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  margin-bottom: 40px;
}
.contact .overlay .testimonials .slider {
  width: 65%;
  margin: 0 auto 80px;
}
.contact .overlay .testimonials .slider .carousel-item {
  min-height: 350px;
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption {
  background-color: #fff;
  width: 100%;
  padding: 80px 70px 35px;
  right: 0;
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption img {
  position: absolute;
  top: 0;
  transform: translate(50%, -50%);
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption h4 {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption h4 span {
  font-size: 15px;
  color: #9c9c9c;
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption p {
  font-size: 15px;
  line-height: 22px;
  color: #b1b1b1;
  margin-bottom: 25px;
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption li a {
  font-size: 24px;
  color: #b2d8fe;
  transition: all 0.5s ease;
}
.contact .overlay .testimonials .slider .carousel-item .carousel-caption li a:hover {
  color: #0575e6;
}
.contact .overlay .testimonials .carousel-indicators {
  bottom: -5px;
}
.contact .overlay .testimonials .carousel-indicators button {
  width: 15px;
  height: 15px;
  border: 1px solid #0575e6;
  background-color: #fff;
}
.contact .overlay .testimonials .carousel-indicators button.active {
  background-color: #0575e6;
}
.contact .overlay .testimonials .carousel-control-next i,
.contact .overlay .testimonials .carousel-control-prev i {
  padding: 10px 20px;
  background-color: #0575e6;
  border-radius: 50%;
}
.contact .overlay .testimonials .carousel-control-next  {
  transform: translateX(-50%);
}
.contact .overlay .testimonials .carousel-control-prev  {
  transform: translateX(50%);
}

/* End Contact */
